@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="jumbotron">
        <div class="textBox border">
            <h1>League Wardrobe</h1>
            <p class="lead">Welcome to the League!</p>
            <p>Now that you have joined the League, you have access to our ultimate wardrobe organizer.</p>
            <p>You're so busy saving the world, you don't need to spend extra time and energy organizing your wardrobe.</p>
            <p>After all, you may be adept at saving the world, but when it comes the fashion, superheroes are abysmally inept.</p>
            <p>Never fear! League Wardrobe is here!</p>
            <p><a href="~/Articles/Index" class="btn superheroBtn">Get Started!</a></p>
        </div>
    </div>

    <Article class="alternateTextBox">
        <h3>Articles</h3>
        <p>All superheroes must maintain an impeccable wardrobe. Have superintellectual glasses to fascinate that girl or perhaps hide your identity from her? Possess a few virile spandex suits to spice up the old wardrobe? There's a place for everything! Check out your articles section to see the items you already have and to add any new items you have recently acquired.</p>
        <p><a href="~/Articles/Index" class="btn superheroBtn">Articles</a></p>
    </Article>

    <Article class="alternateTextBox">
        <h3>Outfits</h3>
        <p>Already have a snappy outfit planned? Ready to jump right into planning for your next outing? Jump right on it to our outfits section!</p>
        <p><a href="~/Outfits/Index" class="btn superheroBtn">Outfits</a></p>
    </Article>


</div>

