@{
    ViewBag.Title = "Home Page";
}


<div class="container-fluid">

    @*Jumbotron header*@
    <div class="jumbotron">
        <div class="textBoxHome border">
            <h1 class="brandName">Too Fantastic Fashion</h1>
            <p class="lead">Welcome to <span class="brandName">T F F</span> !</p>
            <p>Only the most unique and mighty of the catchpenny superheroes have been admitted to the ranks of The Too Fantastic.</p>
            <p>As a member of our group, you now have the privilege of accessing our sensational wardrobe organizer.</p>
            <p>You're so busy saving the world, you don't need to spend extra time color-coordinating your suit and cape with your accessories.</p>
            <p>WIth <span class="brandName">T F F</span>, even the superhero most abysmally inept with fashion can be guaranteed a snappy look just right for every occassion.</p>
            <p>Never fear! Too Fantastic Fashion is here!</p>
            <p><a href="~/Articles/Index" class="btn superheroBtn homeBtn">Get Started!</a></p>
        </div>
    </div>

    @*General Site Information / Navigation*@
    <Article class="alternateTextBox">
        <h3>Articles</h3>
        <p>All superheroes must maintain an impeccable wardrobe. Have superintellectual glasses to fascinate that girl or perhaps hide your identity from her? Possess a few virile spandex suits to spice up the old wardrobe? There's a place for everything!</p>
        <p><a href="~/Articles/Index" class="btn superheroBtn">Articles</a></p>
    </Article>

    <Article class="alternateTextBox">
        <h3>Outfits</h3>
        <p>Already have a sensation outfit planned? Ready to create the next spectacular outfit to capture the minds and hearts of your fans? Jump right on it to our outfits section!</p>
        <p><a href="~/Outfits/Index" class="btn superheroBtn">Outfits</a></p>
    </Article>


</div>

