@model WardrobeMVCProject.Models.ArticleType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>



<div>
    <h4>ArticleType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArticleType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleType1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
